<!DOCTYPE html>
<html>
<meta charset ='utf-8'>
<head>
	<title>{{title}}</title>
    <style>
        .table{width: 50%;margin: auto;}
        td,label{height: 30px;
        }
        label{display:block}
        td{text-align: left}

    </style>
    {% if ID %}
    <script>
        function jump(){
            window.location.href="{% url 'FormBack' ID %}";
        }
    </script>
    {% endif %}
</head>
<body>

<div class="table" >
    <form method='post' >
        {% csrf_token %}
        <fieldset>
            <legend align="center">{{title}}</legend>
            <table style="margin:0 auto;text-align: center">
            {{form}}
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="submit" value="提交" class="bt"> &nbsp;&nbsp;
                    {% if ID %}
                    <input type="button" value="返回" class="bt" onclick=javascrtpt:jump()>
                    {% endif %}
                </td>
            </tr>
            </table>
        </fieldset>
    </form>
</div>
</body>
</html>

